<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your idea for Emergency Backpack </p>
<div class="divider"></div>
<div class="section">
  <a href="/auth/logout" class="btn red darken-1">
    <i class=""></i> Logout
  </a>
</div>